@model HomeViewModel
@{
    ViewData["Title"] = "Esigned";
    int SliderIndex = 0;
}

@section SliderSection
{
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Sliders.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active":"")"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (Slider slider in Model.Sliders)
                    {
                        <div class="carousel-item @(SliderIndex == 0 ? "active":"")">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div>
                                            <h2>
                                                @slider.Title

                                            </h2>
                                            <p>
                                                @slider.Description
                                            </p>
                                            <div class="">
                                                <a href="">
                                                    Contact us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        SliderIndex++;
                    }

                </div>
            </div>

        </div>
    </section>
    <!-- end slider section -->
}

@await Html.PartialAsync("_ServicePartial",Model.Services)

@await Html.PartialAsync("_AboutPartial")

@await Html.PartialAsync("_PortfolioPartial")

<!-- client section -->

<section class="client_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                WHAT CUSTOMERS SAY
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/c-1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tempor incididunt <br>
                                <span>
                                    Dipiscing elit
                                </span>
                            </h5>
                            <img src="~/images/quote.png" alt="">
                            <p>
                                Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/c-2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tempor incididunt <br>
                                <span>
                                    Dipiscing elit
                                </span>
                            </h5>
                            <img src="~/images/quote.png" alt="">
                            <p>
                                Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/c-3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tempor incididunt <br>
                                <span>
                                    Dipiscing elit
                                </span>
                            </h5>
                            <img src="~/images/quote.png" alt="">
                            <p>
                                Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
<!-- target section -->
<section class="target_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="detail-box">
                    <h2>
                        1000+
                    </h2>
                    <h5>
                        Years of Business
                    </h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="detail-box">
                    <h2>
                        20000+
                    </h2>
                    <h5>
                        Projects Delivered
                    </h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="detail-box">
                    <h2>
                        10000+
                    </h2>
                    <h5>
                        Satisfied Customers
                    </h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="detail-box">
                    <h2>
                        1500+
                    </h2>
                    <h5>
                        Cups of Coffee
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end target section -->
@await Html.PartialAsync("_ContactPartial")
